<div class="flex flex-col mx-auto max-w-[32rem] text-black space-y-4">
  <app-title>Trackr</app-title>

  <app-input
    name="token"
    label="Access token"
    type="text"
    [control]="get('token')"
  ></app-input>

  <app-input
    name="client"
    label="Client ID"
    type="text"
    [control]="get('client')"
  ></app-input>

  <app-input
    name="uid"
    label="UID"
    type="uid"
    [control]="get('uid')"
  ></app-input>

  <div class="py-4">
    <button
      [disabled]="form.invalid"
      (click)="login()"
      class="duration-150 w-full py-3 text-white bg-blue-800 hover:bg-blue-700 rounded"
      [class.opacity-50]="form.invalid"
    >
      Go to dashboard
    </button>
  </div>

  <code id="code" class="p-4 text-sm text-gray-200 bg-gray-800 break-all rounded">
    {{code}}
  </code>

  <app-input
    name="quick-setup"
    label="Quick setup"
    type="text"
    [control]="get('quicksetup')"
  ></app-input>

</div>
